mixin foo
  div
    | foo
    | foo
    
mixin bar
  div
    | bar
    | bar

mixin baz
  div
    | baz
    | baz

//- some comment

div
  | foo
  div 
    | faa

html
  head
    title my pug template
  body

//- some comment
  some indented comment
  some indented comment

div
  div
    | foo
    | faa
  div
    | foo 2
    | faa 2

mixin bar
  div
    | bar 2

    
    | bar 2

p
  a(href="",
title=""
)
    | foo

| faa

foo(abc="", def="")

foo(abc,
    def)

foo(abc
    ,def)
foo(abc
    def)
  foo(abc
      def)

a(href='/contact') contact
a(href='/save').button save
a(foo, bar, baz)
a(foo='foo, bar, baz', bar=1)
a(foo='((foo))', bar= (1) ? 1 : 0 )
select
  option(value='foo', selected) Foo
  option(selected, value='bar') Bar
a(foo="class:")
input(pattern='\\S+')

a(href='/contact') contact
a(href='/save').button save
a(foo bar baz)
a(foo='foo, bar, baz' bar=1)
a(foo='((foo))' bar= (1) ? 1 : 0 )
select
  option(value='foo' selected) Foo
  option(selected value='bar') Bar
a(foo="class:")
input(pattern='\\S+')
foo(terse="true")
foo(date=new Date(0))

- var attrs = {foo: 'bar', bar: '<baz>'}

div&attributes(attrs)

a(foo='foo' "bar"="bar")
a(foo='foo' 'bar'='bar')

  
  foo(abc
def)

  //- @pugdoc
  | foo


//- @pugdoc
  example: |
    foo

| foo